@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

:root {
    --color_icons: #003C76
    --text_color_2: #B1C2FF
    --text_color_1: #FFFFFF
    --text_color_3: #E1E6FA
}

body {
    font-family: 'Comfortaa', sans-serif;
    background: linear-gradient(45deg,  rgba(24, 57, 177, 0.87), rgba(40, 68, 166, 0.9616), rgba(33, 48, 104, 0.97), rgba(1, 17, 73, 0.9));;
}

.container {
    max-width: 1600px;
    margin: 0;
    padding-top: 7px;
    position: relative
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1358px;
}


.first_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

.instruction {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.contacts {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.theory {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.support {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.second {
    width: 400px;
    padding-left: 70px;
    padding-top: 110px;
}
.title {
    color: white;
    font-weight: 900;
    font-size: 48;
    margin-bottom: 30px;
    line-height: 45px;
}
.intro {
    color: #E1E6FA;
    font-size: 24;
    margin-bottom: 30px;
    line-height: 25px;
}

.third {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding-left: 70px;
}
.autro {
    color: white;
    font-weight: 900;
    font-size: 24;
    align-items: center;
}

.title_2 {
    padding-top: 120px;
    color: white;
    font-weight: 900;
    font-size: 48;
    text-align: center;
}

.final_text {
    padding-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
}

.graph {
    color: #B1C2FF;
    font-weight: 700;
    font-size: 18;
}
.txt1 {
    color: white;
    font-size: 18;
}

.profits {
    color: #B1C2FF;
    font-weight: 700;
    font-size: 18;
}
.txt2 {
    color: white;
    font-size: 18;
}

.tree_ {
    color: #B1C2FF;
    font-weight: 700;
    font-size: 18;
}
.txt3 {
    color: white;
    font-size: 18;
}

.round {
    background-color: #003C76;
    border-radius: 50%;
    width: 422px;
    height: 422px;
    position: relative;
    position: absolute;
    top:35%;
    left: 80%;
}

.comp {
    position: relative;
    position: absolute;
    top:20%;
    left: 40%;
}

.star_1 {
    position: relative;
    position: absolute;
    top:20%;
    left: 30%;
}

.star_2 {
    position: relative;
    position: absolute;
    top:80%;
    left: 15%;
}

.star_3 {
    position: relative;
    position: absolute;
    top:83%;
    left: 70%;
}

.title_3 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 48;
    margin-bottom: 30px;
    line-height: 45px;
}

  .inputs {
    display: grid;
    grid-template-columns: auto 200px 200px auto;
    gap: 30px; 
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .inputs input {
    background-color:#B1C2FF; 
    border: none; 
    border-radius: 5px;
    height: 25px; 
  }

  .inputs label {
    color: white;
    border: none;
    height: 25px;
  }

  .start-buttons {
    display: grid;
    place-items: center;
    width: 100%; 
    margin: 20px 0;
  }
  
  .start-button {
    background-image: url('/img/start.svg'); 
    background-size: cover; 
    color: white;
    padding: 10px 20px; 
    border-radius: 15px; 
    border: none;
    cursor: pointer;
    font-size: 40px; 
    font-family: 'Comfortaa';
    outline: none;
  }
